* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav,
li,
p,
a {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
button {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
}

.align {
  text-align: center;
}
