---
import MainLayout from "../../layouts/MainLayout.astro";
import "../../styles/style.css";

export async function getStaticPaths() {
  const data = await fetch("https://wxgeifmsekawywfbkgsk.supabase.co/rest/v1/Testimonials", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind4Z2VpZm1zZWthd3l3ZmJrZ3NrIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE0NjUxNzIsImV4cCI6MTk5NzA0MTE3Mn0.DgL4l_u0vOEoBT3ZRD2nLGWsik5E0CbdGY6C7gFnUX8",
    },
  }).then((response) => response.json());

  return data.map((singleTestimonial) => {
    return {
      params: { id: singleTestimonial.title + "-" + singleTestimonial.id },
      props: { singleTestimonial },
    };
  });
}

const { singleTestimonial } = Astro.props;
---

<MainLayout title={singleTestimonial.title}>
  <section>
    <div>
      <h2>{singleTestimonial.title}</h2>
      <p>" {singleTestimonial.description} "</p>
      <h3>{"-" + " " + singleTestimonial.name}</h3>
    </div>

    <div>
      <h2>Kæmpe optur over Royal Escapes</h2>
      <p>" Aldrig har det været så fedt, at blive skræmt fra vid og sans. Vi løste lige præcis ikke gåderne i tide - FUCK! Vi ses når nerverne igen er dulmet ned og pengepungen er fuld! "</p>
      <h3>- Mister Escape</h3>
    </div>

    <div>
      <h2>Jeg vil have mine penge tilbage!!</h2>
      <p>" Jeg var af den overbevisning, at jeg havde betalt for at besøge vores majestæt dronningen. Skuffelsen er stor og mit blodtryk er højt. Skam jer! "</p>
      <h3>- Royalist_mama_47</h3>
    </div>
  </section>
</MainLayout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 4rem;
    background-color: #f2e2d0;
  }
  div {
    padding-block: 2rem;
  }

  h2,
  h3 {
    text-align: center;
    color: #752312;
    margin-top: 1rem;
  }

  p {
    margin-top: 1rem;
    max-width: 800px;
  }
</style>
