---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/style.css";
---

<MainLayout title="Tak for dit bidrag">
  <h2>Succes!</h2>
  <p>Tak for din anmeldelse. Den vil blive synlig på siden efter godkendelse af vores hårdtarbejdende robotter.</p>
</MainLayout>
