---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Testimonials from "../components/Testimonials.astro";
import AddTestimonial from "../components/AddTestimonial.astro";
import Escaper from "../components/Escaper.astro";
---

<MainLayout title="Royal Escapes" h1="Velkommen!">
  <section class="heading">
    <h2 class="presentation align">Royal Escapes præsenterer</h2>
    <p class="naar">Når</p>
    <p class="i">i</p>
    <p class="ud">ud</p>
    <p class="i2">i</p>
    <p class="tide">tide</p>
    <p class="questionmark">?</p>
    <img id="castle" src="/img/slot.svg" alt="" />
    <img id="stairs" src="/img/trapper-dukke.svg" alt="" />
    <img id="clouds" src="/img/skyer.png" alt="" />
    <div class="winTickets">
      <h1>Vind 6x entrebilletter!</h1>
      <p>
        HOLD PÅ KRONJUVELER OG MONOKEL!! Det er KONKURRENCETID og der er en majestætisk oplevelse er på højkant! Uanset om i er på udkig efter en hyggelig dag eller ønsker at mærke det blå blod i årene fryse til is, så er Royal Escapes klar til at tage imod jer. I skal bare bevise, at i kan knække det royale kodesprog, der er skjult her på hjemmesiden. I alt <span class="codeNumber">5</span> koder er skjult, men pas på; I har kun <span class="codeNumber">5</span> forsøg til at indtaste koderne og hver korrekt kode giver et ekstra lod i puljen. Vinderne får tilsendt <span class="codeNumber">6</span>x billetter til en stemningsfuld tur i et af vores <span class="codeNumber">3</span> Escape Rooms - og der er frit valg alt på alle hylder; The Royal Mystery, The Royal Dungeon og The Royal Playroom.
        Konkurrencen slutter *om 7 dage*… … Når I ud i tide?
      </p>
    </div>
  </section>

  <section class="contest">
    <h2>Konkurrencen slutter om</h2>
    <div class="countdown">
      <div>
        <p id="days">00</p>
        <span>Dage</span>
      </div>
      <div>
        <p id="hours">00</p>
        <span>Timer</span>
      </div>
      <div>
        <p id="minutes">00</p>
        <span>Minutter</span>
      </div>
      <div>
        <p id="seconds">00</p>
        <span>Sekunder</span>
      </div>
    </div>
    <h3>Indtast kode</h3>
    <div class="codeInputs">
      <input class="codeInput" type="text" maxlength="1" />
      <input class="codeInput" type="text" maxlength="1" />
      <input class="codeInput" type="text" maxlength="1" />
      <input class="codeInput" type="text" maxlength="1" />
    </div>
    <form class="submitCode">
      <input type="input" placeholder="Navn Efternavnsen" required />
      <input type="input" placeholder="navn.efternavnsens@hotmail.com" required />
      <button class="confirm"> Bekræft</button>
    </form>
  </section>

  <section class="hallOfFame">
    <article class="hallOfFameArticle">
      <h2 id="royalHeadline">#ROYALHALLOFFAME</h2>
      <Escaper number="1" team="Team Titans" time="7 min" hints="0" />
      <Escaper number="2" team="Team Happy" time="12 min" hints="3" />
      <Escaper number="3" team="Team Sore Losers" time="17 min" hints="1" />
    </article>
  </section>

  <section class="testimonials">
    <h2 id="testimonialsHeadline">Det siger vores gæster om os</h2>
    <Testimonials />
    <AddTestimonial />
  </section>
</MainLayout>

<style>
  h1,
  h2,
  h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: white;
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  section {
    padding-bottom: 6rem;
  }

  /** Sections **/
  .heading {
    background-image: url("/img/baggrund.svg");
    position: relative;
    height: 1500px;
  }
  .presentation {
    padding-top: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .naar {
    font-size: 6rem;
    top: 175px;
    left: 125px;
  }

  .i {
    font-size: 6rem;
    top: 190px;
    left: 310px;
  }

  .ud {
    font-size: 6rem;
    top: 190px;
    left: 350px;
  }

  .i2 {
    font-size: 6rem;
    top: 210px;
    left: 490px;
    transform: rotate(15deg);
    transform-origin: 100% 0;
  }

  .tide {
    font-size: 8rem;
    top: 270px;
    left: 220px;
  }

  .questionmark {
    font-size: 8rem;
    top: 280px;
    left: 450px;
    transform: rotate(-15deg);
    transform-origin: 100% 0;
  }

  .naar,
  .i,
  .ud,
  .i2,
  .tide,
  .questionmark {
    text-transform: uppercase;
    font-weight: bold;
  }

  .heading p {
    position: absolute;
    color: white;
    font-family: "Dosis", sans-serif;
  }

  .heading img {
    position: absolute;
  }

  #castle {
    top: 50px;
    left: 1100px;
  }

  #stairs {
    z-index: 1;
    top: 700px;
    left: 25px;
  }

  #clouds {
    width: 100%;
    top: 400px;
    z-index: 2;
  }

  .winTickets {
    position: absolute;
    top: 1000px;
    left: 700px;
    z-index: 3;
  }

  .winTickets p {
    font-size: 1.3rem;
  }

  .codeNumber {
    color: #937e67;
    font-weight: bold;
  }

  .contest {
    background-color: black;
  }

  .contest h2 {
    font-size: 3rem;
  }

  .hallOfFame {
    background-color: black;
  }

  .hallOfFameArticle {
    background-color: #f2e2d0;
    margin-inline: 25%;
    color: #752312;
  }

  #royalHeadline {
    font-size: 3rem;
    padding-top: 2rem;
    color: black;
  }

  .testimonials {
    background-color: #f2e2d0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #testimonialsHeadline {
    font-size: 3rem;
    padding-top: 5rem;
    color: black;
  }

  /** CodeInput **/
  .codeInputs {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  .codeInputs input {
    max-width: 75px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    background-color: #752312;
    color: white;
    border: 1px solid #752312;
    border-radius: 10px;
    text-transform: uppercase;
  }

  .confirm {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #752312;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
  }

  .confirm:hover {
    background-color: #937e67;
  }

  .submitCode {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .submitCode input {
    width: 275px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    padding-left: 10px;
  }

  /** Countdown **/
  .countdown {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    margin-bottom: 4rem;
    color: #937e67;
  }

  .countdown div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 125px;
    height: 125px;
    text-align: center;
    font-family: "Dosis", sans-serif;
  }

  .countdown p {
    font-size: 5rem;
  }

  .countdown span {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
</style>
