---
---

<form class="addTestimonialForm">
  <div>
    <input id="title" name="title" type="text" placeholder="En passende titel" required />
  </div>
  <div>
    <textarea id="long" name="long" rows="5" placeholder="En god beskrivelse af din oplevelse hos Royal Escapes" required></textarea>
  </div>
  <button type="submit">Send</button>
</form>

<script>
  function addTestimonial(newTestimonial) {
    const url = "https://wxgeifmsekawywfbkgsk.supabase.co/rest/v1/Testimonials";
    const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind4Z2VpZm1zZWthd3l3ZmJrZ3NrIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE0NjUxNzIsImV4cCI6MTk5NzA0MTE3Mn0.DgL4l_u0vOEoBT3ZRD2nLGWsik5E0CbdGY6C7gFnUX8";

    const options = {
      method: "POST",
      headers: {
        apikey: api,
        Authorization: "Bearer " + api,
        "Content-Type": "application/json",
        Prefer: "return=representation",
      },
      body: JSON.stringify(newTestimonial),
    };

    console.log("options:", options);

    fetch(url, options)
      .then((res) => res.json())
      .then((data) => {
        console.log("data:", data);
        window.location.href = "/addTestimonialFeedback";
      });
  }

  const form = document.querySelector(".addTestimonialForm");
  console.log("form.elements", form.elements);

  form.addEventListener("submit", (e) => {
    e.preventDefault();

    const obj = {
      title: form.elements.title.value,
      description: form.elements.long.value,
    };

    addTestimonial(obj);
  });
</script>

<style>
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  input,
  textarea {
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    padding-left: 10px;
  }

  input {
    width: 275px;
    height: 40px;
  }

  textarea {
    padding-top: 10px;
    width: 400px;
    height: 100px;
  }

  button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #937e67;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }
  button:hover {
    background-color: #752312;
  }

  h3 {
    color: #752312;
  }

  @media only screen and (max-width: 500px) {
    textarea {
      width: 275px;
    }
  }
</style>
