---
const { link, title } = Astro.props;
---

<button> <a href={link}><span>{title}</span></a></button>

<style>
  button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #752312;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }
  button:hover {
    background-color: #937e67;
  }

  button a {
    color: white;
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
  }
</style>
