---
---

<nav>
  <a href="/"><img class="logo" src="/img/logo.png" alt="" /></a>
  <ul>
    <!-- <li><a href="/"></a>Forside</li> -->
    <li><a href="#"></a>Escape Rooms <i class="fa fa-angle-down"></i></li>
    <li><a href="#"></a>Book nu</li>
    <li><a href="#"></a>Gavekort</li>
    <li><a href="campaign"></a>Kampagne</li>
    <li><a href="#"></a>Om os</li>
    <li><a href="#"></a>Kontakt os</li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 10%;
    height: 100px;
  }

  .logo {
    max-height: 75px;
  }

  ul {
    display: flex;
    gap: 3.5rem;
    list-style-type: none;
    text-transform: uppercase;
  }

  li {
    cursor: pointer;
  }

  li:hover {
    color: rgba(210, 87, 63, 1);
  }

  a {
    color: black;
    text-decoration: none;
  }
</style>
