---
---

<nav>
  <a href="/"><img class="logo" src="/img/logo.png" alt="" /></a>
  <div class="navItems">
    <li><a class="navItem" href="#"></a>Escape Rooms <i class="fa fa-angle-down"></i></li>
    <li><a class="navItem" href="#"></a>Book nu</li>
    <li><a class="navItem" href="#"></a>Gavekort</li>
    <li><a class="navItem" href="campaign"></a>Kampagne</li>
    <li><a class="navItem" href="#"></a>Om os</li>
    <li><a class="navItem" href="#"></a>Kontakt os</li>
  </div>
  <div class="burgerMenu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    padding-inline: 10%;
    z-index: 11;
  }

  .logo {
    max-height: 75px;
  }

  .navItems {
    display: flex;
    gap: 3.5rem;
    list-style-type: none;
    text-transform: uppercase;
  }

  li {
    cursor: pointer;
  }

  li:hover {
    color: rgba(210, 87, 63, 1);
  }

  a {
    color: black;
    text-decoration: none;
  }

  .burgerMenu {
    display: none;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #752312;
  }

  @media only screen and (max-width: 1160px) {
    .burgerMenu {
      display: block;
    }

    .burgerMenu.active .bar:nth-child(2) {
      opacity: 0;
    }

    .burgerMenu.active .bar:nth-child(1) {
      transform: translateY(10px) rotate(50deg);
    }
    .burgerMenu.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-50deg);
    }

    .navItems {
      position: fixed;
      left: -100%;
      top: 80px;
      gap: 0.5rem;
      flex-direction: column;
      background-color: white;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      padding-block: 1rem;
      border-block: 10px solid #752312;
    }

    .navItems.active {
      left: 0;
    }

    .icons {
      width: auto;
      padding-right: 0;
    }
  }

  @media only screen and (max-width: 600px) {
    p {
      display: none;
    }
  }
</style>
