---
---

<nav>
  <img class="logo" src="../public/img/logo.png" alt="" />
  <ul>
    <li><a href="/">Forside</a></li>
    <li><a href="#"></a>Escape Rooms <i class="fa fa-angle-down"></i></li>
    <li><a href="#"></a>Book nu</li>
    <li><a href="#">Gavekort</a></li>
    <li><a href="campaign"></a>Kampagne</li>
    <li><a href="#"></a>Om os</li>
    <li><a href="#"></a>Kontakt os</li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 15.5%;
    height: 100px;
    font-size: 0.75rem;
    font-family: "Open Sans", sans-serif;
  }

  .logo {
    max-height: 75px;
  }

  ul {
    display: flex;
    gap: 3.5rem;
    list-style-type: none;
    text-transform: uppercase;
  }

  li {
    cursor: pointer;
  }

  a {
    color: black;
    text-decoration: none;
  }
</style>
