---
---

<nav>
  <a href="/"><img class="logo" src="/img/logo.png" alt="" /></a>
  <div class="navItems">
    <a target="blank" class="navItem" href="https://www.royalescapes.dk/dk/escape-rooms/">Escape Rooms <i class="fa fa-angle-down"></i></a>
    <a target="blank" class="navItem" href="https://www.royalescapes.dk/dk/book-escape-room">Book nu</a>
    <a target="blank" class="navItem" href="https://www.royalescapes.dk/dk/gavekort">Gavekort</a>
    <a class="navItem" href="/">Kampagne</a>
    <a target="blank" class="navItem" href="https://www.royalescapes.dk/dk/om-royal-escapes">Om os</a>
    <a target="blank" class="navItem" href="https://www.royalescapes.dk/dk/kontakt-royal-escapes">Kontakt os</a>
  </div>
  <div class="burgerMenu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #f2e2d0;
    padding-inline: 10%;
    z-index: 11;
    gap: 4rem;
  }

  .logo {
    max-height: 75px;
  }

  .navItems {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    gap: 4rem;
  }

  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: #752312;
  }

  .burgerMenu {
    display: none;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }

  @media only screen and (max-width: 1310px) {
    .burgerMenu {
      display: block;
    }

    .burgerMenu.active .bar:nth-child(2) {
      opacity: 0;
    }

    .burgerMenu.active .bar:nth-child(1) {
      transform: translateY(10px) rotate(50deg);
    }
    .burgerMenu.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-50deg);
    }

    nav {
      justify-content: space-between;
    }

    .navItems {
      position: fixed;
      left: -100%;
      top: 80px;
      gap: 0.5rem;
      flex-direction: column;
      background-color: white;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      padding-block: 1rem;
      border-block: 10px solid black;
    }

    .navItems.active {
      left: 0;
    }

    .icons {
      width: auto;
      padding-right: 0;
    }
  }

  @media only screen and (max-width: 600px) {
    p {
      display: none;
    }
  }
</style>
