---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "./Button.astro";
const { data } = Astro.props;
---

<div class="container">
  <article>
    <h3 class="title">{data.title}</h3>
    <div class="innerContainer">
      <i class="fa fa-angle-left" style="font-size:3rem"></i>
      <p class="description">" {data.description} "</p>
      <i class="fa fa-angle-right" style="font-size:3rem"></i>
    </div>
    <Button link={"testimonials/" + data.title + "-" + data.id} title="Læs mere" />
    <p>eller</p>
    <h3 class="add">Tilføj din egen anmeldelse</h3>
  </article>
</div>

<style>
  .container {
    padding-bottom: 1rem;
  }

  .innerContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
  }
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .title {
    color: #752312;
  }

  .add {
    color: #937e67;
  }

  .description {
    max-width: 700px;
    padding-left: 0.6rem;
  }

  i {
    cursor: pointer;
  }

  @media only screen and (max-width: 800px) {
    .description {
      max-width: 500px;
    }

    .fa-angle-left {
      margin-left: 2rem;
    }

    .fa-angle-right {
      margin-right: 2rem;
    }
  }
</style>
